body{
    background-color: #75d9eb;
    color: #00c3ff;
    }
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
a{
    color: white;
    text-decoration: none;
}
img{
    width: 2150px;
    height: 1150px;
    border-radius: 50%;
    border: 10px solid #3700ff;
}
.center{
    text-align: center;
}